@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(200deg, #fffafa 0%, #79378b 100%);
  font-family: "Poppins", sans-serif;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 320px;
}

.registerForm h1 {
  font-size: 40px;
  color: #333;
  margin-bottom: 15px;
}

.registerForm input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 18px;
  font-size: 15px;
  background-color: white;
  opacity: 0.8;
  gap : 15px;
}

.registerForm input::placeholder {
  color: #797777;
  opacity: 0.6;
}

.registerForm input:focus {
  outline: none;
  border-color: #00ae72;
  box-shadow: 0 0 0 4px rgba(43, 144, 202, 0.2);
}

.registerForm button {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 40px;
  background-color: #00ae72;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.registerForm button:hover {
  background-color: #01724a;
  transform: scale(1.02);
}

.error {
  color: red;
  font-size: 12px;
  min-height: 16px;
}

.success {
  color: green;
  font-size: 12px;
  min-height: 16px;
}

.linkText {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.linkText a {
  color: #1B4F93;
  font-weight: 600;
}
