.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(360deg, #9b999942 0%, #79378B 100%);
    font-family: Arial, sans-serif;
}

.admin {
    background: #777676;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(232, 229, 229, 0.4);
    border-radius: 20px;
    padding: 20px;
}

.adminForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adminForm h1 {
    font-size: 32px;
    text-align: center;
    color: #111111;
    font-weight: 900;
}

.adminForm input {
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease;
}

.adminForm input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.adminForm button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.adminForm button:hover {
    background-color: #0056b3;
}

.adminForm button:active {
    background-color: #004494;
}