@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(150deg,#FFFAFA 15%, #79378B 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-flow: column;
    width:100%;
    max-width: 100vh;
}
.login {
    display : flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#loginform {
    display:flex;
    flex-flow: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    width: 100vh;
}
#loginform h1 {
    font-size: 50px;
    color: #333;
    margin-bottom: 15px;
}
#loginform input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 18px;
    font-size: 15px;
}
#loginform input::placeholder {
    color: 000000;
    opacity: 60%;
}
#loginform input:focus {
    outline :none;
    border-color: #00AE72;
    box-shadow: 0 0 0 4px rgba(43,144,202,0.2);
}
#registerform input:hover {
    border-color: #00AE72;
}
#loginform button:hover {
    background-color: #01724a;
    color: white;
    scale: 1.02;
}
#loginform button {
    padding :10px;
    width:100%;
    border : none;
    border-radius: 40px;
    background-color: #00AE72;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease , scale 0.5s ease;
}